
:root {
    --tile_dimensions: 40px;
    --board_dimensions: 15;
    --grid-gap: 2;
    --v_rack_columns: 2;
    --max_player_tiles: 8;
}

#game {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(var(--board_dimensions), 1fr);
    grid-template-rows: repeat(var(--board_dimensions), 1fr);
    grid-gap: calc(var(--grid-gap) * 1px);
    padding: 4px;
    background-color: #eee;
    width: calc(var(--board_dimensions) * (var(--tile_dimensions) + var(--grid-gap)));
    height: calc(var(--board_dimensions) * (var(--tile_dimensions) + var(--grid-gap)));
    margin: 0 40px;
}
  
.board_tile {
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--tile_dimensions);
    height: var(--tile_dimensions);
}

.v_rack {
    display: grid;
    grid-template-columns: repeat(var(--v_rack_columns), 1fr);
    grid-gap: 8px;
    padding: 6px;
    background-color: #eee;
    width: var(--v_rack_columns) * var(--tile_dimensions);
    justify-items: center;
    align-content: start;
    height: (round(var(--max_player_tiles) /  var(--v_rack_columns))) * var(--tile_dimensions);
}

.game_tile {
    width: var(--tile_dimensions);
    height: var(--tile_dimensions);
    background-color: #f4d03f;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
}

 
.points {
    position: absolute;
    bottom: 0px;
    right: 2px;
    font-size: 12px;
}